*{
border: 1px solid rgb(0, 0, 0);
        
    
}
header {
    padding: 20px;
    background-color: rgb(255, 20, 204);
    width: 100%;
    margin: 0px;
        }

body {
background-color: rgb(0, 26, 255);
text-align: center;
color: rgb(0, 0, 0);
background-image: url(./IMGS/giphy.gif);
background-size: 100px;


font-family: cursive;

}

table {
background-color:teal;
margin: auto;
color: darkgreen;
}

p {
    background-color: rgb(255, 0, 0);
    color:yellow
    
}

h1 {
    background-color: orange;
    color: darkorchid;
}

h2 {
    background-color: purple;
    color: brown;
}

ul {
    background-color: magenta;
    color: tan;
}

.lamabild { 
width: 20%;

}

.notdeadgame {
width: 400px;
height: 252px;


}